//# HEADER BAR
header.top {
  width: 100%;
  background: $white-color;
  color: $gray-hover-light-color;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  padding-left: 250px;

  div.menu {
    @include flex(row, center, flex-end, null, nowrap);
    width: 100%;
    height: 70px;

    div.menu-spacing {
      flex: 6;
      height: 70px;
      background-color: $white-color;
      align-items: stretch;
    }

    div.menu-link {
      @include flex(row, center, center, 1, nowrap);
      height: 70px;
      border-left: 1px solid $gray-hover-light-color;
      text-align: center;
      color: $gray-secondary-color;

      &:hover {
        background: $gray-hover-white-color;
        border-bottom: 1px solid $gray-hover-light-color;
      }

      span {
        padding-right: 10px;
        white-space: nowrap;
      }

      a {
        color: $blue-lighter-color;

        &:hover {
          color: $brand-secondary-color;
        }
      }

      img {
        display: inline-block;
        vertical-align: middle;
        filter: opacity(50%);
        padding: 0 10px;
        background-color: white;
        width: auto;
        height: auto;
      }

      img.img-small {
        width: auto;
        height: auto;
      }

      #dot-orange {
        border-radius: 50%;
        background: $brand-main-color;
        width: 10px;
        height: 10px;
        transform: translate(-180%, -80%);
      }
    }
  }
}

@media (max-width: 768px) {
  header.top {
    padding-left: 250px-170px;

    div.menu-spacing { display: none; }

    span { display: none; }
  }
}