header.sidebar.closed {
  margin-left: -170px;
  transition: margin-left 1s;

  .sb-menu {
    display: none;
    transition-delay: display 2s;
  }
}

header.sidebar {
  width: 250px;
  transition: 1s;
  background: darken($gray-primary-color, 10%);
  color: $gray-hover-dark-color;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;

  //^ LOGO
  div.logo {
    display: flex;
    align-items: center;
    height: 80px;
    width: 80%;

    span#logo {
      flex: 60%;
      font-family: $logo-font;
      font-size: $title-font-size * 1.3;
      letter-spacing: -1.5px;
      color: $gray-hover-white-color;
    }


    #sb-trigger-link {
      flex: 10%;
      text-align: end;
    }

    .fa-bars {
      color: $gray-secondary-color;
      font-size: $title-font-size;
    }
  }
  //^ LOGO END

  .sb-menu-item {
    display: flex;
    align-items: center;
    height: 3.5em;
    border-left: 6px solid transparent;

    i {
      flex: 30%;
      text-align: center;
      color: $gray-secondary-color;
      font-size: $paragraph-font-size + 2px;
    }

    a {
      flex: 70%;
      text-decoration: none;
      color: $gray-secondary-color;
      font-size: $paragraph-font-size + 2px;
      /* make letters narrower */
    }

    &:hover {
      background: $gray-secondary-color;
      border-left: 6px solid $brand-secondary-color;

      a, i { color: $gray-hover-white-color; }
    }

  }

  .manager {
    margin-top: 30px;
    padding-top: 15px;
    @include spacing(30 0 0 0, 15px 0 0 30px);
    border-top: 2px solid;
    border-color: $gray-secondary-color;

    a {
      display: flex;
      align-items: center;
      font-size: $paragraph-font-size*1.3;
    }

    img {
      padding-right: 20px;
    }
  }

}
