//* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 90px 40px 0 270px;
  position: relative;
  background: $gray-hover-white-color;
  color: $gray-hover-dark-color;
  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
}

h1 { font-size: $title-font-size; }

h2 { font-size: $paragraph-font-size * 1.5; }

h3 { font-size: $paragraph-font-size * 1.3; }

a {
  text-decoration: none;
  font-size: inherit;
  color: $blue-color;

  &:hover {
    color: $brand-secondary-color;
  }
}

section {
  background: $white-color;
  @include flex(column, null, null, 100%, null);

  div.content {
    @include flex(column, center, center, null, null);
    @include spacing(0, 20px 0);
  }
}

//* HELPERS: FLEX DIVS
div.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

div.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}

div.flex-row-100 {
  @include flex(row, center, center, 100%, null);
}

div.flex-col-100 {
  @include flex(column, null, null, 100%, null);
}

//* RWD
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 90px 40px 0 100px;
  }
}
