/* Global */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 100px 40px 0 290px;
  position: relative;
  background: $color-gray-white;
  color: $color-gray-light;
}

div.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

div.flex-100 {
  flex: 100%;
}

header.top {
  width: 100%;
  background: $color-white;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
}

header.sidebar {
  width: 250px;
  background: $color-gray-dark;
  color: $color-gray-light;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;

  div.logo {
    margin: 1em;
    flex: 1;

    span#logo {
      font-family: $logo-font;
      font-size: $title-font-size;
      letter-spacing: -1px;
      color: $color-white;
    }
  }

  div#sb-trigger{
    flex: 4;
  }

  .fa-bars {
    color: $color-gray-middle;
    font-size: 1.6em;
  }

  li > i {
      color: $color-gray-middle;
      font-size: 0.7em;
      position: absolute;
      left: 10%;
      transform: translate(-30%, 70%);
      /* need to make <a> do the same */

      &:hover {
        background: $color-gray-middle;

        a, i { color: $color-white; }
      }
  }

}

section {
  margin: 0.2em;
  padding: 0px !important;
  background: $color-white;

  div.content {
    @include flex(column, center, center);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
}

a.btn {
  &.btn-primary {
    @include btn($brand-main-color, $color-white);
  }

  &.btn-secondary {
    @include btn($brand-secondary-color, $color-white);
  }
}
