@mixin flex($flex-direction, $align-items, $justify-content){
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin btn($btn-bg, $btn-text) {
  background: $btn-bg;
  color: $btn-text;
  border-radius: 2px;
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background: lighten($btn-bg, 3%);
    color: darken($btn-text, 3%);
  }
}