@mixin flex($flex-direction, $align-items, $justify-content, $flex-grow, $flex-wrap){
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex: $flex-grow;
  flex-wrap: $flex-wrap;
}

@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin btn($btn-bg, $btn-text) {
  background: $btn-bg;
  color: $btn-text;

  &:hover {
    background: lighten($btn-bg, 3%);
    color: darken($btn-text, 3%);
    transition: 1s;
  }
}