/* Colors */
$paragraph-color: #000000;
$brand-main-color: #F58220;
$brand-secondary-color: #FFA200;

$gray-primary-color: #333333;
$gray-secondary-color: #666666;
$gray-hover-dark-color: #979797;
$gray-hover-light-color: #E3E3E3;
$gray-hover-white-color: #F5F5F5;
$white-color: #FFFFFF;
$blue-color: #56819F;
$blue-lighter-color: #81C2F0;
$green-color: #04AE00;
$green-hover-color: #74B67A;
$green-pasive-color: #96CC9B;
$red-border-color: #FF0000;
$red-hover-color: #DE5252;
$red-pasive-color: #EC7171;

/* Font sizes */
$paragraph-font-size: 14px;
$title-font-size: $paragraph-font-size * 2;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: 'Playball', cursive;