//***** GENERAL STATISTICS *****
section {
  background: $white-color;
  @include flex(column, null, null, 100%, null);
}

section#general {
  align-items: center;

  .title {
    width: 100%;
    border-bottom: 1px solid $gray-hover-light-color;
    padding-left: 1.5em;
    padding-top: 0.2em;
    color: lighten($gray-hover-dark-color, 20%);
  }

  .date-wrapper {
    width: 100%;
    max-width: 700px;
    @include flex(column, center, center, 100%, wrap);
    border-bottom: 1px solid $gray-hover-light-color;

    .date-picker {
      @include flex(row, center, center, null, wrap);
      @include spacing(0, 30px 0);
      height: 100px;

      input {
        height: 40px;
        width: 150px;
        background-color: $white-color;
        padding-left: 10px;
      }

      #minDate {
        border-top: 1px solid $gray-hover-light-color;
        border-left: 1px solid $gray-hover-light-color;
        border-bottom: 1px solid $gray-hover-light-color;
        border-right: none;
        border-radius: 5px 0px 0px 5px;
      }

      #maxDate {
        width: 180px;
        background-image: url('../../images/icons/calendar.png');
        background-position: 155px 10px;
        background-repeat: no-repeat;
        background-size: 15px;

        border-bottom: 1px solid $gray-hover-light-color;
        border-right: 1px solid $gray-hover-light-color;
        border-top: 1px solid $gray-hover-light-color;
        border-left: 1px solid $gray-hover-light-color;
        border-radius: 0px 5px 5px 0px;
      }
    }

  }


  .general-summary {
    width: 100%;
    max-width: 700px;
    @include flex(null, center, center, null, wrap);
    min-height: 100%;
    padding: 10px;
  }

  .summary-row {
    @include flex(row, center, space-around, 60%, wrap);

    .summary-col {
      width: 300px;
      display: inline-flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-hover-light-color;
      padding: 10px 0 5px 0;

      .summary-text {
        text-align: left;
        color: lighten($gray-hover-dark-color, 20%);
        font-weight: bold;
      }

      .summary-count {
        text-align: right;
        color: $gray-primary-color;
      }
    }
  }


  .chart-text {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @include spacing(0, 20px 0);
    color: lighten($gray-hover-dark-color, 20%);
    font-weight: bold;
  }

  .chart-legend {
    width: 100%;
    max-width: 700px;
    @include spacing(0, 20px 0);
    @include flex(column, center, null, 100%, wrap);

    .chartlegend-row {
      width: 370px;
      @include flex(row, center, space-around, null, wrap);

      div.dot {
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }

      #bigOrange { background: $brand-main-color; }

      #bigBlue { background: $blue-color; }

      #bigGreen { background: $green-color; }
    }
  }

  .chart-container {
    width: 100%;
    max-width: 700px;
    @include flex(column, center, center, null, null);
    @include spacing(0, 20px 0);

    img {
      width: 100% !important;
    }
  }

}

//***** LINKS *****
section#links {
  @include spacing(20px 0, 0);
  align-items: center;

  .title {
    width: 100%;
    border-bottom: 1px solid $gray-hover-light-color;
    padding-left: 1.5em;
    padding-top: 0.2em;
    color: lighten($gray-hover-dark-color, 20%);
  }

  .links-content {
    @include flex(column, center, center, null, null);
    @include spacing(0, 20px 0);
    width: 100%;
    max-width: 700px;
  }

  .link-col {
    width: 100%;
    max-width: 500px;
    @include spacing(0, 20px 0);
  }

  .link-row {
    @include flex(row, center, center, 100%, nowrap);
    border-bottom: 1px solid $gray-hover-light-color;

    &:first-of-type { border-top: 1px solid $gray-hover-light-color; }

    .link-text {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      flex: 3;

      p { font-weight: bold; }
    }

    .link-icons {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;

      img {
        visibility: hidden;
        @include spacing(0 2px,0);
        width: 13px;
        height: 13px;
      }
    }

    &:hover {
      background: $gray-hover-white-color;

      .link-icons img { visibility: visible; }
    }

  }
}


@media (max-width: 768px) {
  section#general {
    .date-picker {
      @include flex(column, center, center, 100%, wrap);
    }

    .summary-row {
      width: 100% !important;
    }

    .chart-text {
      justify-content: center !important;
    }

    .chartlegend-row {
      width: 80% !important;
      @include flex(row, center, space-around, null, wrap);
    }
  }

  /* section#links {
    todo
  } */
}