.btn {
  display: inline-block;
  @include spacing(0, 0.6em);
  width: 120px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &.btn-primary {
    @include btn($brand-main-color, $gray-hover-white-color);
    font: $paragraph-font-size*1.2 $paragraph-font;
  }

  &.btn-secondary {
    @include btn($brand-secondary-color, $gray-hover-white-color);
    font: $paragraph-font-size*1.2 $paragraph-font;
  }

  &.btn-refresh {
    @include btn($brand-secondary-color, $gray-hover-white-color);
    width: 40px;
    height: auto;

    img { filter: invert(1); }
  }
}
